<!DOCTYPE html>
<html>
<title>The Humphreys</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/static/Main/dark_sky.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">THE HUMPHREYS</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><a href="localhost:5000/Josh" class="w3-button w3-white w3-round w3-padding-large w3-large" style="Left">Josh</a>
    <p class="w3-large w3-center"><a href="localhost:5000/Abby" class="w3-button w3-white w3-round w3-padding-large w3-large" style="Left">Abby</a>
  </div>
</div>

</body>
</html>
